<div>
    <jhi-alert></jhi-alert>
     <div class="row">
    	 	 <h2><div class="col-xs-12">RFRs</div> </h2>
    	 	 <div class="row col-xs-12">
	         <div class="col-xs-3">
	         	<button class="btn btn-primary" type="file" ngf-select="vm.uploadFiles($file, $invalidFiles)"
			          accept="*" ngf-max-height="1000" ngf-max-size="10MB"> 
			      <span class="glyphicon glyphicon-open-file"></span>&nbsp;&nbsp;Upload
		      	</button>
				<button class="btn btn-success center" ng-click="vm.downloadXLS()">
					<span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;Download
				</button>
			  </div>
			  <div class="col-xs-7" ng-show="vm.f.progress >= 0">
			  	{{vm.f.name}} {{vm.errFile.name}} {{vm.errFile.$error}} {{vm.errFile.$errorParam}} ({{vm.date | date:'dd MMM, yyyy HH:mm:ss'}}), {{vm.errorMsg}}
			  </div>
			  <div class="col-xs-7" ng-show="!vm.f.progress">&nbsp; </div>
			  <div class="col-xs-2">
			  	<button class="btn btn-danger pull-right" ui-sref="rfr.delete()">
			  		<span class="glyphicon glyphicon-erase"></span> &nbsp;&nbsp;Delete All
			  	</button>
			  </div>
		 </div>
     </div>
     
     <input type="text" ng-model="vm.search" ng-change="vm.filterText()">
     
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th><span></span></th>
                <th><span>ID</span></th>
                <th><span>Title</span></th>
                <th><span>Apple Manager</span></th>
              	<th><span>Skills</span></th>
                <th><span>Fulfillment</span></th>
                <th><span>Status</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rfr in vm.rfrs track by rfr.requestId | custom:search">
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="rfr.edit({requestId:rfr.requestId})"
                                class="btn btn-sm" 
                                ng-class="{'btn-success' : (rfr.skills.length > 0 && rfr.fulfillment.length > 0), 
                                'btn-info' : (!rfr.skills || !rfr.fulfillment) }">
                            <span ng-class="{'glyphicon glyphicon-ok': (rfr.skills.length > 0 && rfr.fulfillment.length > 0), 'glyphicon glyphicon-plus': (!rfr.skills || !rfr.fulfillment)}"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </div>
                </td>
                <td><a ui-sref="rfr.edit({requestId:rfr.requestId})">{{rfr.requestId}}</a></td>
                <td>{{rfr.requestTitle}}</td>
                <td>{{rfr.appleManager}}</td>
                <td>{{rfr.skills}}</td>
                <td>{{rfr.fulfillment}}</td>
                <td ng-class="{'color-red': rfr.status === 'Not Responded', 'color-orange': rfr.status === 'Partially Responded', 'color-yellow': rfr.status === 'Responded', 'color-green': rfr.status === 'Completed'}"
                >{{rfr.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
</div>
